.cardContainer{
    display: flex;
    background-color: rgb(227, 227, 227);
    width: 450px;
    height: 225px;
    padding: 50px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
}

.coverContainer {
    width: 175px;
    height: 175px;
    background-color: aliceblue;
}

.coverContainer img {
    width: 100%;
}

.cardContainer li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}